.cardproject_bg {
  width: 48rem;
  height: 38rem;
  background-color: #281841;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.cardproject_img {
  width: 40rem;
  height: 20rem;
  border-radius: 0.3rem;
  transition: all ease 0.3s;
  cursor: pointer;
  /* object-fit: fill; */
}

.cardproject_img:hover {
  scale: 0.95;
}

.projectcard_title {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  font-family: "Nanum Gothic", sans-serif;
  text-transform: uppercase;
}
.cardproject_btn_handler {
  display: flex;
  gap: 10rem;

  margin-top: 2rem;
}
.cardproject_btn {
  border: none;
  outline: none;
  width: 15rem;
  height: 4.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0.3rem;
  transition: all 0.2s ease-in;
  cursor: pointer;
  letter-spacing: 0.1rem;
}
.primary {
  background-color: #5c477c;
}
.primary:hover {
  background: none;
  border: 0.3rem solid #5c477c;
}

.secondary {
  background: none;
  border: 0.3rem solid #5c477c;
}

.secondary:hover {
  background-color: #5c477c;
  border: none;
}
/* this for pop img */
.img_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
.img_handler {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border: 2px solid white;
  cursor: pointer;
}
.img_popup {
  width: 100%;
}

/* this for details view */

.details_container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.details_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
  border-radius: 0.3rem;
  background-color: #fff;
  color: black;
}

.details_content_handler {
  position: relative;
  border: 3px red solid;
}
.details_header {
  font-size: 3rem;
  font-family: "poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
}

.details_p {
  font-size: 1.7rem;
  font-family: "Nanum Gothic", sans-serif;
  text-align: justify;
  font-weight: 600;
  padding: 2rem 5rem;
  line-height: 2.8rem;
}

.details_btn_handler {
  display: flex;
  justify-content: center;
}
.details_btn {
  border: none;
  outline: none;
  width: 20%;
  height: 4.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  background-color: rgb(221, 11, 11);
  color: #fff;
  transition: all 0.2s ease-in;
  cursor: pointer;
  letter-spacing: 0.2rem;
}
