.navcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  background-color: #1e0b3b;
  position: sticky;
  z-index: 1;
  top: 0;
  padding: 1.5rem 0;
}

.logocontainer {
  margin-left: 7rem;
}

.logo {
  width: 100%;
  height: 4.3rem;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.3);
}

.listcontainer {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.listcontainer li {
  margin-left: 8rem;
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  /* font-family: "Nanum Gothic", sans-serif; */
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  opacity: 90%;
}
.listcontainer li::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 3px;
  bottom: -10%;
  background-color: #d25380;
  border-radius: 0.2rem;
  opacity: 0;
  left: 0;
  transition: all ease-in-out 0.3s;
}
.listcontainer li:hover::after {
  opacity: 1;
  width: 100%;
}

/* .listcontainer li:hover {
  background-color: #d25380;
  border-radius: 0.2rem;
} */
.btn-container {
  margin-left: 8rem;
}

.btn-container button {
  width: 15rem;
  height: 5rem;
  font-size: 2rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  font-family: "Bitter" serif;
  color: #fff;
  background-color: #d25380;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.btn-container button:hover {
  background-color: transparent;
  border: 3px solid #d25380;
}

.menu {
  color: #d25380;
  font-size: 4rem;
  margin-right: 3rem;
}

.menuhandler {
  display: none;
}
.insideh1 {
  display: none;
}
.socialmediacontroler {
  display: none;
}
/*for mobile view*/
@media (max-width: 480px) {
  .navcontainer {
    justify-content: space-between;
    margin-top: 4rem;
  }

  .logocontainer {
    margin-left: 3rem;
  }

  .logo {
    width: 100%;
    height: 3rem;
  }

  .insidelisthandler {
    width: 70%;
    position: absolute;
    top: 0px;
    right: 0%;
    background-color: #281841; /*1e0b3b*/
    height: 100%;
    /* overflow: hidden; */
    padding-top: 10rem;
    z-index: 10;
    transition: all 0.9s ease-in-out;
  }
  .bg {
    background-color: #281841;
  }
  .insideh1 {
    display: block;
    margin-bottom: 4rem;
    padding-top: 1rem;
    /* margin-top: 1rem; */
    position: relative;
  }

  .insideh1::after {
    content: " ";
    display: block;
    position: absolute;
    height: 2px;
    background: #ffffff92;

    width: 80%;
    left: 10%;
    top: 70px; /*70*/
    opacity: 1;
  }

  .navheader,
  .navheader span {
    font-size: 3.5rem;
    text-align: center;
    font-family: "Lobster", cursive;
    letter-spacing: 0.1rem;
    color: #fff;
  }
  .navheader span {
    color: #d25380;
  }

  .listcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
  }

  .listcontainer li {
    /* margin-top: 4rem;
    margin-right: 4rem; */
    margin: 1rem auto;
    padding: 1rem 1rem;
    text-align: center;
  }

  .listhandler_close {
    display: none;
  }
  .listhandler_open {
    display: block;
    transition: all ease-in-out 0.9s;
  }
  .menuhandler {
    display: block;
    z-index: 10;
  }
  .menu {
    font-size: 3rem;
  }
  .btn-container {
    display: none;
  }

  .socialmediacontroler::before {
    content: " ";
    display: block;
    position: absolute;
    height: 2px;
    background: #ffffff92;

    width: 80%;
    left: 10%;
    top: 140; /*67*/
    opacity: 1;
  }
  .socialmediacontroler {
    display: flex;
    flex-direction: row;

    justify-content: center;
    padding-bottom: 10rem;
    margin: 4rem auto;
  }
  .socialmediacontroler i {
    font-size: 2rem;
    padding: 3rem 2rem;
    opacity: 70%;
    cursor: pointer;
  }
  .socialmediacontroler i:hover {
    opacity: 100%;
  }
}
