.project_container {
  margin-top: 5rem;
  height: auto;
  margin-bottom: 5rem;
}
.project_header {
  font-family: "Roboto Serif", serif;
  font-size: 4.5rem;
  text-align: left;
  position: relative;
  margin-left: 9.5rem;
}
.project_text {
  font-size: 4.5rem;
  position: relative;
  color: white;
}
.project_text_hover {
  position: absolute;
  content: attr(data-text);
  width: 0%;
  inset: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  color: #d25380;
  border-right: 0.8rem solid #d25380;
  border-radius: 0.6rem;
  -webkit-text-stroke: 1px #d25380;
  cursor: pointer;
}

.project_text_hover:hover {
  width: 40%;
}

.project_content_handler {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.project_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16rem;
  margin-top: 4rem;
}

/* here after its for mobile view */

@media (max-width: 480px) {
  .project_container {
    height: auto;
    margin-bottom: 2rem;
  }
  .project_header {
    font-size: 3rem;
    text-align: left;
    margin-left: 2rem;
  }

  .project_text {
    font-size: 3rem;
  }

  .project_text_hover:hover {
    width: 60%;
  }
  .project_content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}
